:root {
    /* Colours */
    --color-text: #000;
    --color-primary: #EBD8BE;
    --color-secondary: #906D3C;
    --color-dark: #0b2447;
    --color-bg: #FFF;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }